* { margin:0; padding:0; box-sizing:border-box; }

#container {
	margin: 0 auto;
	width: 900px;
	background-color: #333333;
}

header {
	background-color: #cccccc;
	padding: 20px;
}

body {
	background-image: url("images/Website_Unit6.jpg");
	background-repeat: no-repeat;
	background-color: rgb(120 124 123);
	background-size: cover;
	margin: auto;
  	font-family: 'Montserrat', sans-serif;
  	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
}

img {
	width: 30px;
}

nav {
	background: #333;
}

nav a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

h1 {
	font-family: 'Montserrat', sans-serif; font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}