* { margin:0; padding:0; box-sizing:border-box; }

#container {
	margin: 0 auto;
	width: 100%;
}

header {
	background-color: #fff;
	height: 0px;
	padding: 20px;
}

body {
	background-image: url("images/Website_Unit6.jpg");
	background-repeat: no-repeat;
	background-color: rgb(120 124 123);
	background-size: cover;
	margin: auto;
  	font-family: 'Montserrat', sans-serif;
  	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
}

img {
	width: 150px;
	padding: 20px;
}

nav {
	background: #fff;
	text-align: center;
	vertical-align: middle;
}

nav a {
	display: block;
	font-family: 'Droid Serif', serif;
	float: right;
	padding: 5px 10px;
	color: #f15a33;
	text-decoration: none;
}

h1 {
	font-family: 'Montserrat', sans-serif; font-weight: 400;
	color: #fff;
	display: block;
	font-size: 45px;
	margin: 0 auto 50px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	width: 900px;
}

p {
	font-family: 'Montserrat', sans-serif; font-weight: 700;
	color: #fff;
	display: block;
	font-size: 30px;
	margin: 0 auto 50px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

footer {
	background-color: #cccccc;
	text-align: left;
	font-family: 'Droid Serif', serif;
	padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}