* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url("images/Website_Unit6.jpg") no-repeat;
	background-size: cover;
	/*font-family: 'Montserrat', sans-serif;*/
  	font-family: 'Droid Serif', serif;
	-webkit-font-smoothing: antialiased;
}
main { background:rgba(120,124,123,.5); }
header {
	padding: 20px;
}
nav {
}
nav li { 
	display:inline;
}
nav a {
	font-family: 'Droid Serif', serif;
	float: right;
	padding: 5px 10px;
	color: #f15a33;
	text-decoration: none;
	text-transform:uppercase;
}
h1 {
	font-family: 'Montserrat', sans-serif; font-weight: 400;
	color: #fff;
	font-size: 45px;
	margin: 0 auto 50px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	width: 900px;
}

p {
	font-family: 'Montserrat', sans-serif; font-weight: 700;
	color: #fff;
	display: block;
	font-size: 30px;
	margin: 0 auto 50px auto;
	padding: 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
footer {
	background-color: #cccccc;
	text-align: left;
	font-family: 'Droid Serif', serif;
	padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
